<h1>About Us</h1>
<p>This is a project about Universities around the World</p>


<p>Used Dataset from this<a href="https://raw.githubusercontent.com/Hipo/university-domains-list/master/world_universities_and_domains.json?fbclid=IwAR10LKFrfohIYNzvVV9Na4PPcvg0DE01GhTQ-FbinhBlM98hf_BDmZUauBY"> Github Link </a></p>

<p>ERD</p>
<img src="/assetsâ©/erdmodel.jpg" alt="Database" height="500" width="700">


